<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow flex-nowrap justify-content-between align-items-center">
  <div class="col-4 pt-1"></div>
  <div class="col-4 text-center">
    <h3 class="my-0 mr-md-auto text-secondary">Task Manager</h3>
  </div>
  <div class="col-4 pt-1"></div>
</div>

<div class="container">

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex ml-auto text-center"> 
				<div class="col-4 pt-1"></div>
				<div class="col-4 text-center">
						<a class="h5 p-2 text-center text-muted navig active-nav" id="add-task" href="javascript:void(0);" (click)=addTask()>Add Task</a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a class="h5 p-2 text-center text-muted navig" id="view-task" href="javascript:void(0);" (click)=viewTask()>View Task</a>
				</div>
				<div class="col-4 pt-1"></div>
    </nav>
  </div>

</div>

<main role="main" class="container">
    <router-outlet (activate)="onActivate($event, outlet)" #outlet></router-outlet>
</main>

<div> 
	<div class="modal-backdropP"></div>
	<div class="modalP">
		<div id="fountainG">
			<div id="fountainG_1" class="fountainG"></div>
			<div id="fountainG_2" class="fountainG"></div>
			<div id="fountainG_3" class="fountainG"></div>
			<div id="fountainG_4" class="fountainG"></div>
			<div id="fountainG_5" class="fountainG"></div>
			<div id="fountainG_6" class="fountainG"></div>
			<div id="fountainG_7" class="fountainG"></div>
			<div id="fountainG_8" class="fountainG"></div>
		</div>
	</div>
</div>